footer{
  background-color: #ccc;
  clear: both;
  color: #333 ;
  padding: 0.5em 0;
  text-align: center;
  margin-top: 2em;
}

header{
  background-color: #033959;
  padding: 1em 0;
  justify-content: center;
  
}

.logo {
  display: flex;
  justify-content: center;
}


.holder{
  display: flex;
  justify-content: center;
}

.holder1{
  margin: auto;
  width: 960px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
}

.input{
  margin: 10px;
}

.userError{
  display: flex;
  color: red;
  justify-content: center;
  align-items: center;

}

.text-end{
 margin: 20px;
}