<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel='stylesheet' href='/stylesheets/normalize.css' />
  </head>
  <body>
      <header>
        <div class="holder">
            <img src="/images/workit-logo-blanco.png" width="300" alt="Logo">
        </div>
    </header>
    {{{body}}}
     <footer> 
            <p>Derechos reservados, WORKIT</p>
        </footer>
  </body>
</html>
