<p class="text-end">Hola {{usuario}}! <a class="btn btn-danger" href="/admin/login/logout"> Cerrar sesion  <i class="fa-solid fa-person-walking-arrow-right"></i> </a></p>

<div class="holder">
<h2 style="padding: 30px;">Bienvenido a Novedades</h2>
</div>


