
.card img{
    border-radius: 50%;
    width: 140px;
    margin: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: #185173;
}

.card-title{
    color: #185173;
    text-align: center ;
}
.card-text{
    text-align: match-parent;
    overflow:hidden;
}


